
.pre {
  margin: 12px 0;
  padding: 12px 20px;
  background: @input-bg;
  box-shadow: @card-shadow;
}
.site-calendar-demo-card {/*日历格式*/
  width: 300px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}
.site-card-border-less-wrapper {/*右侧卡片格式*/
  padding: 30px;
  background: #ececec;
}